<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner inner-bg3">
    <div class="container">
        <div class="inner-banner-title text-center">
            <h3>Espace abonné</h3>
            <p>Nous sommes ravis de la confiance que vous nous accordez.</p>
        </div>

        <div class="banner-list">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <ul class="list">
                        <li><a href="index.html">Abonnés</a></li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li class="active">Membre</li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-5">
                    <p>Heureux de vous revoir <a routerLink="/">{{firstname}} {{lastname}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="listing-widget-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="listing-section-right">
                    <h3 class="title"> <i class="flaticon-filter"></i> Filtres</h3>

                    <div class="listing-right-form">
                        <form>
                            <div class="form-group">
                                <i class='flaticon-filter'></i>
                                <select class="form-control">
                                    <option>Recherche par catégorie</option>
                                    <option>Drame</option>
                                    <option>comédie</option>
                                    <option>horreur</option>
                                    <option>science-fiction</option>
                                    <option>fantastique</option>
                                    <option>Action</option>
                                    <option>Animation</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <i class='flaticon-loupe'></i>
                                <input type="text" class="form-control" placeholder="Qu'est-ce qui est recherché ?*">
                            </div>
                            <div class="form-group">
                                <i class='flaticon-menu'></i>
                                <input type="text" class="form-control" placeholder="Vidéos populaires">
                            </div>
                            <div class="form-group">
                                <i class='flaticon-list'></i>
                                <select class="form-control">
                                    <option>Tous les types de vidéos</option>
                                    <option>Drame</option>
                                    <option>Comédie</option>
                                    <option>Horreur</option>
                                    <option>Science-fiction</option>
                                    <option>Fantastique</option>
                                    <option>Action</option>
                                    <option>Animation</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <i class="flaticon-calendar"></i>
                                <input type="text" class="form-control" placeholder="Recherche par date de sortie">
                            </div>
                        </form>
                    </div>

                    <div class="facilities-list">
                        <h3 class="facilities-title"> Ressources</h3>

                        <ul>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Drame</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Comédie</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Horreur</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Science-fiction</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Fantastique</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Action</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Animation</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-12 col-md-12 text-center">
                        <button type="submit" class="default-btn border-radius">Résultat de la recherche <i
                                class='bx bx-plus'></i></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="listing-widget-into">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9">
                            <div class="listing-right-form">
                                <div class="row">
                                    <div class="form-group">
                                        <label>Trier par :</label>
                                    </div>
                                    <div class="col-lg-7 col-sm-8">
                                        <div class="form-group">
                                            <i class='flaticon-filter'></i>
                                            <select class="form-control">
                                                <option>Tous les types de vidéos</option>
                                                <option>Drame</option>
                                                <option>Comédie</option>
                                                <option>Horreur</option>
                                                <option>Science-fiction</option>
                                                <option>Fantastique</option>
                                                <option>Action</option>
                                                <option>Animation</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <ul class="listing-widget-menu">
                                <li><a routerLink="/listing" class="active"><i class="flaticon-filter"></i></a></li>
                                <li><a routerLink="/listing"><i class="flaticon-menu"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <!-- <a routerLink="/listing-details" class="images-list"><img src="assets/img/place-list/place-list1.jpg" alt="Images"></a> -->
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list1.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile.png" alt="Images">
                                        <h3>Action</h3>
                                    </div>

                                    <div class="place-status bg-dark-orange">
                                        <!-- <a routerLink="/listing-details"><h3>Exclusive</h3></a> -->
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Exclusive</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">1994</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Jan de Bont</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Speed 1</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Keanu Reeves, Sandra
                                        Bullock.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">4.9</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=beVRhM8jEwc"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list2.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile2.png" alt="Images">
                                        <h3>Animation</h3>
                                    </div>

                                    <div class="place-status bg-dark-orange">
                                        <a href="https://www.youtube.com/watch?v=beVRhM8jEwc" class="play-btn">
                                            <h3>Exclusive</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>
                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>
                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=beVRhM8jEwc"
                                                class="play-btn">2023</a></span>
                                        <h3 class="title"> <a href="https://www.youtube.com/watch?v=beVRhM8jEwc"
                                                class="play-btn">Aaron Horvath</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=beVRhM8jEwc" class="play-btn">
                                        <h3>Super Mario Bros</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Chris Pratt, Charlie Day,
                                        Anya Taylor-Joy.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">5.0</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=6s"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list3.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile3.png" alt="Images">
                                        <h3>Science-fiction</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">2022</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Roland Emmerich</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Moonfall</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i>Acteurs principaux : Halle Berry, Donald
                                        Sutherland, Michael Peña.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">4.5</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=6s"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list4.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile4.png" alt="Images">
                                        <h3>Comédie</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="#">2022</a></span>
                                        <h3 class="title"><a href="#">Marc Forster</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Le Pire Voisin au monde</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Tom Hanks, Mariana Treviño,
                                        Rachel Keller.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">4.7</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=6s"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list5.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile2.png" alt="Images">
                                        <h3>Horreur</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">2023</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Matt Bettinelli-O.</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Scream 6</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Courteney Cox, Jenna Ortega.
                                    </p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">4.7</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list6.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile.png" alt="Images">
                                        <h3>Fantastique</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">2023</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Jeremy Zag</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Miraculous</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Anouck Hautbois, Benjamin
                                        Bollen.</p>
                                    <ul class="place-rating">
                                        <li><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">4.7</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <!-- <a routerLink="/listing-details" class="images-list"><img src="assets/img/place-list/place-list1.jpg" alt="Images"></a> -->
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list1.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile.png" alt="Images">
                                        <h3>Action</h3>
                                    </div>

                                    <div class="place-status bg-dark-orange">
                                        <!-- <a routerLink="/listing-details"><h3>Exclusive</h3></a> -->
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Exclusive</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">1994</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Jan de Bont</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Speed 1</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Keanu Reeves, Sandra
                                        Bullock.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">4.9</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=beVRhM8jEwc"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list2.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile2.png" alt="Images">
                                        <h3>Animation</h3>
                                    </div>

                                    <div class="place-status bg-dark-orange">
                                        <a href="https://www.youtube.com/watch?v=beVRhM8jEwc" class="play-btn">
                                            <h3>Exclusive</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=beVRhM8jEwc"
                                                class="play-btn">2023</a></span>
                                        <h3 class="title"> <a href="https://www.youtube.com/watch?v=beVRhM8jEwc"
                                                class="play-btn">Aaron Horvath</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=beVRhM8jEwc" class="play-btn">
                                        <h3>Super Mario Bros</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Chris Pratt, Charlie Day,
                                        Anya Taylor-Joy.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">5.0</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=6s"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list3.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile3.png" alt="Images">
                                        <h3>Science-fiction</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">2022</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Roland Emmerich</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Moonfall</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i>Acteurs principaux : Halle Berry, Donald
                                        Sutherland, Michael Peña.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">4.5</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=6s"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list4.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile4.png" alt="Images">
                                        <h3>Comédie</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="#">2022</a></span>
                                        <h3 class="title"><a href="#">Marc Forster</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Le Pire Voisin au monde</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Tom Hanks, Mariana Treviño,
                                        Rachel Keller.</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">4.7</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=6s"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list5.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile2.png" alt="Images">
                                        <h3>Horreur</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">2023</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Matt Bettinelli-O.</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Scream 6</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Courteney Cox, Jenna Ortega.
                                    </p>
                                    <ul class="place-rating">
                                        <li><a rhref="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">4.7</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="place-list-item">
                                <div class="images">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                        class="play-btn images-list"><img src="assets/img/place-list/place-list6.jpg"
                                            alt="Images"></a>

                                    <div class="place-profile">
                                        <img src="assets/img/place-list/place-profile.png" alt="Images">
                                        <h3>Fantastique</h3>
                                    </div>

                                    <div class="place-status bg-color-blue">
                                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                            <h3>Nouveauté</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>

                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>

                                        </ul>
                                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">2023</a></span>
                                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">Jeremy Zag</a></h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                                        <h3>Miraculous</h3>
                                    </a>
                                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Anouck Hautbois, Benjamin
                                        Bollen.</p>
                                    <ul class="place-rating">
                                        <li><a href="https://www.youtube.com/watch?v=dhHDK_msc64"
                                                class="play-btn">4.7</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star icon-color'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 text-center">
                            <a routerLink="/listing" class="default-btn border-radius">Plus de vidéos <i
                                    class='bx bx-plus'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-one></app-footer-style-one>