<app-navbar-style-one></app-navbar-style-one>

<div class="inner-banner inner-bg3">
    <div class="container">
        <div class="inner-banner-title text-center">
            <h3>Espace abonné</h3>
            <p>Nous sommes ravis de la confiance que vous nous accordez.</p>
        </div>

        <div class="banner-list">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <ul class="list">
                        <li><a href="index.html">Abonnés</a></li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li class="active">Membre</li>
                    </ul>
                </div>

                <div class="col-lg-6 col-md-5">
                    <p>Heureux de vous revoir <a routerLink="/">{{firstname}} {{lastname}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="listing-widget-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="listing-section-right">
                    <h3 class="title"> <i class="flaticon-filter"></i> Filtres</h3>

                    <div class="listing-right-form">
                        <form>
                            <div class="form-group">
                                <i class='flaticon-filter'></i>
                                <select class="form-control">
                                    <option>Recherche par catégorie</option>
                                    <option>Drame</option>
                                    <option>comédie</option>
                                    <option>horreur</option>
                                    <option>science-fiction</option>
                                    <option>fantastique</option>
                                    <option>Action</option>
                                    <option>Animation</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <i class='flaticon-loupe'></i>
                                <input type="text" class="form-control" placeholder="Qu'est-ce qui est recherché ?*">
                            </div>
                            <div class="form-group">
                                <i class='flaticon-menu'></i>
                                <input type="text" class="form-control" placeholder="Vidéos populaires">
                            </div>
                            <div class="form-group">
                                <i class='flaticon-list'></i>
                                <select class="form-control">
                                    <option>Tous les types de vidéos</option>
                                    <option>Drame</option>
                                    <option>Comédie</option>
                                    <option>Horreur</option>
                                    <option>Science-fiction</option>
                                    <option>Fantastique</option>
                                    <option>Action</option>
                                    <option>Animation</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <i class="flaticon-calendar"></i>
                                <input type="text" class="form-control" placeholder="Recherche par date de sortie">
                            </div>
                        </form>
                    </div>

                    <div class="facilities-list">
                        <h3 class="facilities-title"> Ressources</h3>

                        <ul>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Drame</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Comédie</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Horreur</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Science-fiction</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Fantastique</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Action</label>
                                </div>
                            </li>
                            <li>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">Animation</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-12 col-md-12 text-center">
                        <button type="submit" class="default-btn border-radius">Résultat de la recherche <i
                                class='bx bx-plus'></i></button>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="listing-widget-into">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9">
                            <div class="listing-right-form">
                                <div class="row">
                                    <div class="form-group">
                                        <label>Trier par :</label>
                                    </div>
                                    <div class="col-lg-7 col-sm-8">
                                        <div class="form-group">
                                            <i class='flaticon-filter'></i>
                                            <select class="form-control">
                                                <option>Tous les types de vidéos</option>
                                                <option>Drame</option>
                                                <option>Comédie</option>
                                                <option>Horreur</option>
                                                <option>Science-fiction</option>
                                                <option>Fantastique</option>
                                                <option>Action</option>
                                                <option>Animation</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-3">
                            <ul class="listing-widget-menu">
                                <li><a routerLink="/listing" class="active"><i class="flaticon-filter"></i></a></li>
                                <li><a routerLink="/listing"><i class="flaticon-menu"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-lg-6 col-md-6" *ngFor="let video of videos">
                            <div class="place-list-item">
                                <div class="images">
                                    <!-- <a href="{{video.url}}" class="play-btn images-list">
                                        <img src="{{video.url}}"
                                            alt="Images">
                                        </a> -->

                                    <iframe width="100%" height="250" [src]="convertToEmbedLink(video.url)"
                                        title="YouTube video player" frameborder="0" allowfullscreen allow="accelerometer;"
                                        loading="lazy"></iframe>

                                    <div class="place-profile" *ngFor="let category of video">
                                        <h3 class="text-white">{{category.name}}</h3>
                                    </div>

                                    <div class="place-status bg-dark-orange">
                                        <a href="{{video.url}}" class="play-btn">
                                            <h3>Exclusive</h3>
                                        </a>
                                    </div>

                                    <div class="place-tag">
                                        <ul>
                                            <li><a routerLink="/listing"><i class="flaticon-like"></i></a></li>
                                        </ul>
                                        <span><a href="{{video.url}}" class="play-btn">{{video.releaseDate}}</a></span>
                                        <h3 class="title"> <a href="{{video.url}}" class="play-btn">{{video.title}}</a>
                                        </h3>
                                    </div>
                                </div>

                                <div class="content">
                                    <a href="{{video.url}}" class="play-btn">
                                        <h3>{{video.title}}</h3>
                                    </a>
                                    <div *ngFor="let category of video.categories">
                                        <h3 class="text-success">{{category.name}}</h3>
                                    </div>
                                    <p><i class="flaticon-cursor"></i> {{video.description}}</p>
                                    <ul class="place-rating">
                                        <li><a routerLink="/listing">5.0</a></li>
                                        <li>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
















                        <div class="col-lg-12 text-center">
                            <a routerLink="/listing" class="default-btn border-radius">Plus de vidéos <i
                                    class='bx bx-plus'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-style-one></app-footer-style-one>
