<app-navbar-style-one></app-navbar-style-one>

<div class="slider-area owl-carousel owl-theme">
    <div class="slider-item item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <h1>Explorer les catégories <b><br>Choisir la meilleure</b></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <h1>Trouver des exclusives <b><br>A vous de choisir</b></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item item-bg3">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <h1>Découvrir les nouveautés <b><br>A vous de choisir</b></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item item-bg4">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="slider-content">
                        <h1>Voir la meilleure note <b><br>Choisir la meilleure</b></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner-form-area banner-form-mt">
    <div class="container">
        <div class="form-list text-center">
            <ul>
                <li class="active"><i class="flaticon-curve-arrow"></i> bienvenue sur netflix cinéma</li>
            </ul>
        </div>

        <div class="banner-form border-radius">
            <form>
                <div class="row">
                    <div class="col-lg-2 col-md-4">
                        <div class="form-group">
                            <i class='flaticon-place'></i>
                            <input class="form-control" type="text" placeholder="Cinéma">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <i class='flaticon-vision'></i>
                            <input class="form-control" type="text" placeholder="Qu'est-ce qui est recherché ?">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <i class='flaticon-category'></i>
                            <select class="form-control">
                                <option>Recherche par catégorie</option>
                                <option>Drame</option>
                                <option>comédie</option>
                                <option>horreur</option>
                                <option>science-fiction</option>
                                <option>fantastique</option>
                                <option>Action</option>
                                <option>Animation</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 offset-sm-3 offset-lg-0">
                        <button type="submit" class="default-btn border-radius">lancer <i
                                class="flaticon-loupe"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<section class="place-list-area pb-70" style="margin-top: 100px">
    <div class="container-fluid">
        <div class="section-title text-center">
            <span>Accès illimité</span>
            <h2>Option réservée aux abonnés</h2>
            <p>Inscrivez-vous dès maintenant pour bénéficier de nos avantages.</p>
        </div>

        <div class="place-slider owl-carousel owl-theme pt-45">
            <div class="place-list-item">
                <div class="images">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="images-list play-btn"><img
                            src="assets/img/place-list/place-list1.jpg" alt="Images"></a>

                    <div class="place-profile">
                        <img src="assets/img/place-list/place-profile.png" alt="Images">
                        <h3>Action</h3>
                    </div>

                    <div class="place-status bg-dark-orange">
                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                            <h3>Exclusive</h3>
                        </a>
                    </div>

                    <div class="place-tag">
                        <ul>
                            <li><a routerLink="/"><i class="flaticon-place"></i></a></li>
                            <!-- <li><a routerLink="/" (click)="onSubmit()"><i class="flaticon-like"></i></a></li> -->

                            <li><a routerLink="/"><i class="flaticon-like"></i></a></li>

                            <li><a routerLink="/"><i class="flaticon-workflow"></i></a></li>
                        </ul>
                        <span><a routerLink="/">1994</a></span>
                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">Jan de
                                Bont</a></h3>
                    </div>
                </div>

                <div class="content">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                        <h3>Speed 1</h3>
                    </a>
                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Keanu Reeves, Sandra Bullock.</p>
                    <ul class="place-rating">
                        <li><a routerLink="/">4.9</a></li>
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star icon-color'></i>
                            <i class='bx bxs-star icon-color'></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="place-list-item">
                <div class="images">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="images-list play-btn"><img
                            src="assets/img/place-list/place-list3.jpg" alt="Images"></a>

                    <div class="place-profile">
                        <img src="assets/img/place-list/place-profile2.png" alt="Images">
                        <h3>Science-fiction</h3>
                    </div>

                    <div class="place-status bg-dark-orange">
                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                            <h3>Exclusive</h3>
                        </a>
                    </div>

                    <div class="place-tag">
                        <ul>
                            <li><a routerLink="/"><i class="flaticon-place"></i></a></li>
                            <li><a routerLink="/"><i class="flaticon-like"></i></a></li>
                            <li><a routerLink="/"><i class="flaticon-workflow"></i></a></li>
                        </ul>
                        <span><a routerLink="/">2022</a></span>
                        <h3 class="title"> <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">Roland
                                Emmerich</a></h3>
                    </div>
                </div>

                <div class="content">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                        <h3>Moonfall</h3>
                    </a>
                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Halle Berry, Donald Sutherland.</p>
                    <ul class="place-rating">
                        <li><a routerLink="/">5.0</a></li>
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="place-list-item">
                <div class="images">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="images-list play-btn"><img
                            src="assets/img/place-list/place-list2.jpg" alt="Images"></a>

                    <div class="place-profile">
                        <img src="assets/img/place-list/place-profile3.png" alt="Images">
                        <h3>Animation</h3>
                    </div>

                    <div class="place-status bg-color-blue">
                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                            <h3>Nouveauté</h3>
                        </a>
                    </div>

                    <div class="place-tag">
                        <ul>
                            <li><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn"><i
                                        class="flaticon-place"></i></a></li>
                            <li><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn"><i
                                        class="flaticon-like"></i></a></li>
                            <li><a routerLink="/"><i class="flaticon-workflow"></i></a></li>
                        </ul>
                        <span><a routerLink="/">2023</a></span>
                        <h3 class="title"><a routerLink="https://www.youtube.com/watch?v=dhHDK_msc64"
                                class="play-btn">Aaron Horvath</a></h3>
                    </div>
                </div>

                <div class="content">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                        <h3>Super Mario Bros</h3>
                    </a>
                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Chris Pratt, Charlie Day.</p>
                    <ul class="place-rating">
                        <li><a routerLink="/">4.5</a></li>
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star icon-color'></i>
                            <i class='bx bxs-star icon-color'></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="place-list-item">
                <div class="images">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="images-list play-btn"><img
                            src="assets/img/place-list/place-list5.jpg" alt="Images"></a>

                    <div class="place-profile">
                        <img src="assets/img/place-list/place-profile4.png" alt="Images">
                        <h3>Horreur</h3>
                    </div>

                    <div class="place-status bg-color-blue">
                        <a Href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                            <h3>Nouveauté</h3>
                        </a>
                    </div>

                    <div class="place-tag">
                        <ul>
                            <li><a routerLink="/"><i class="flaticon-place"></i></a></li>
                            <li><a routerLink="/"><i class="flaticon-like"></i></a></li>
                            <li><a routerLink="/"><i class="flaticon-workflow"></i></a></li>
                        </ul>
                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">2023</a></span>
                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">Matt
                                Bettinelli-O.</a></h3>
                    </div>
                </div>

                <div class="content">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                        <h3>Scream 6</h3>
                    </a>
                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Courteney Cox, Jenna Ortega.</p>
                    <ul class="place-rating">
                        <li><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">4.7</a></li>
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star icon-color'></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="place-list-item">
                <div class="images">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn images-list"><img
                            src="assets/img/place-list/place-list6.jpg" alt="Images"></a>

                    <div class="place-profile">
                        <img src="assets/img/place-list/place-profile.png" alt="Images">
                        <h3>Fantastique</h3>
                    </div>

                    <div class="place-status bg-dark-orange">
                        <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                            <h3>Exclusive</h3>
                        </a>
                    </div>

                    <div class="place-tag">
                        <ul>
                            <li><a routerLink="/"><i class="flaticon-place"></i></a></li>
                            <li><a routerLink="/"><i class="flaticon-like"></i></a></li>
                            <li><a routerLink="/"><i class="flaticon-workflow"></i></a></li>
                        </ul>
                        <span><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">2023</a></span>
                        <h3 class="title"><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">Jeremy
                                Zag</a></h3>
                    </div>
                </div>

                <div class="content">
                    <a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">
                        <h3>Miraculous</h3>
                    </a>
                    <p><i class="flaticon-cursor"></i> Acteurs principaux : Anouck Hautbois, B. Bollen.</p>
                    <ul class="place-rating">
                        <li><a href="https://www.youtube.com/watch?v=dhHDK_msc64" class="play-btn">4.9</a></li>
                        <li>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star icon-color'></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="video-area video-area-bg">
    <div class="container">
        <div class="video-content">
            <h2>WildFlix</h2>
            <a href="https://www.youtube.com/watch?v=07d2dXHYb94&t=6s" class="play-btn"><i class='bx bx-play'></i></a>
        </div>
    </div>
</div>

<app-footer-style-one></app-footer-style-one>