<div class="container">
  <div class="row justify-content-center">

    <div class="col-lg-4">

      <form [formGroup]="registerAdminForm" (ngSubmit)="onSubmit()" class="lead">
        <div class="text-center mb-3">
          <img src="../../../assets/images/logo.png">
        </div>
        <h4 class="text-center">Register Admin</h4>
        <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg }}</div>
        <div class="form-group">
          <label class="sr-only" for="firstname">FirstName</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> <i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
            </div>
            <input type="text" formControlName="firstname" class="form-control" id="email" placeholder="FirstName">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="lastname">LastName</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> <i class="fa fa-user fa-2x" aria-hidden="true"></i></div>
            </div>
            <input type="text" formControlName="lastname" class="form-control" id="email" placeholder="LastName">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="email">Email</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> <i class="fa fa-envelope fa-2x" aria-hidden="true"></i></div>
            </div>
            <input type="text" formControlName="email" class="form-control" id="email" placeholder="E-mail">
          </div>
        </div>

        <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"> <i class="fa fa-key fa-2x" aria-hidden="true"></i></div>
            </div>
            <input type="{{showPassword ? 'text':'password'}}" class="form-control" id="password" placeholder="Password"
              formControlName="password">
            <div class="input-group-append" (click)="togglePasswordVisibility()">
              <span class="input-group-text" id="show-password">
                <i class="fa fa-2x" [ngClass]="showPassword ? 'fa-eye':'fa-eye-slash'"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-outline-success mt-2">Send !</button>
          <button type="reset" class="btn btn-outline-danger mt-2 mx-2">Cancel</button>
        </div>



      </form>

    </div>
  </div>
</div>