<div class="user-area">
    <div class="container-fluid m-0">
        <div class="row align-items-center">
            <div class="col-lg-7 col-xl-6  p-0">
                <div class="user-img">
                    <img src="assets/img/login-img.jpg" alt="Images">
                </div>
            </div>

            <div class="col-lg-5 col-xl-6">
                <div class="user-section text-center">
                    <div class="user-content">
                        <img routerLink="/" src="../../../assets/images/logo.png">
                        <h2>Bienvenue <b>à WildFlix</b></h2>
                    </div>
                    <div class="tab user-tab">
                        <ul class="tabs">
                            <li><a href="#"> <i class="flaticon-contact"></i> Connexion</a></li>
                            <li><a href="#"> <i class="flaticon-verify"></i> S'inscrire</a></li>
                        </ul>
                        <!-- Login - Connexion -->
                        <div class="tab_content current active">
                            <div class="tabs_item current">
                                <div class="user-all-form">
                                    <div class="contact-form">
                                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="lead" id="contactForm">
                                            <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg }}</div>

                                            <div class="row">
                                                <div class="col-lg-12 ">
                                                    <div class="form-group">
                                                        <i class='bx bx-user'></i>
                                                        <input formControlName="email" type="text" name="email" id="email" class="form-control" required placeholder="Votre courriel">
                                                        <div *ngIf="submitted && loginForm.controls.email.errors">
                                                        <span *ngIf="loginForm.controls.email.errors?.['required']">Veuillez saisir votre nom d'utilisateur ou votre adresse électronique</span>
                                                    </div></div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <i class='bx bx-lock-alt'></i>
                                                        <input type="{{showPassword ? 'text':'password'}}" class="form-control" id="password" placeholder="Password"
                                                        formControlName="password">                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 text-center">
                                                    <button type="submit" class="default-btn  user-all-btn">Connexion</button>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 form-condition">
                                                    <div class="agree-label">
                                                        <input type="checkbox" id="chb1">
                                                        <label for="chb1">Se souvenir de moi</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6">
                                                    <a class="forget" routerLink="/forgotten-password">Mot de passe oublié ?</a>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="social-option">
                                            <h3>Ou se connecter avec</h3>
                                            <ul>
                                                <li><a href="#">Facebook</a></li>
                                                <li><a href="#">Twitter</a></li>
                                                <li><a href="#">Linkedin</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- S'inscrire - Register -->
                            <div class="tabs_item">
                                <div class="user-all-form">
                                    <div class="contact-form">
                                        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" id="contactForm">
                                            <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg }}</div>

                                            <div class="row">
                                                <div class="col-lg-12 ">
                                                    <div class="form-group">
                                                        <i class='bx bx-user'></i>
                                                        <input type="text" formControlName="firstname" name="lirstname" id="firstname" class="form-control" required data-error="Veuillez saisir votre prénom" placeholder="Firstname">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 ">
                                                    <div class="form-group">
                                                        <i class='bx bx-user'></i>
                                                        <input type="text" formControlName="lastname" name="lastname" id="lastname" class="form-control" required data-error="Veuillez saisir votre nom de famille" placeholder="Lastname">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <i class='flaticon-email-2'></i>
                                                        <input type="email" formControlName="email" name="email" id="email" class="form-control" required data-error="Veuillez saisir l'adresse électronique" placeholder="E-mail">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <i class='bx bx-lock-alt'></i>
                                                        <input type="{{showPassword ? 'text':'password'}}" class="form-control" id="password" placeholder="Password"
                                                        formControlName="password">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 text-center">
                                                    <button type="submit" class="default-btn  user-all-btn">S'inscrire </button>
                                                </div>
                                                <div class="col-12">
                                                    <p class="account-desc">Vous avez déjà un compte ? <a (click)="refreshPage()">Connectez-vous</a></p>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="social-option">
                                            <h3>Ou s'inscrire avec</h3>
                                            <ul>
                                                <li><a href="#">Facebook</a></li>
                                                <li><a href="#">Twitter</a></li>
                                                <li><a href="#">Linkdin</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
